---
layout: default
title: Responses
permalink: /responses/
---

<div class="home">

  <div class="posts">
    {% for post in site.posts %}
		{% if post.response %}
          <div class="post">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
            <h3 class="h2 post-title">{{ post.title }}</h3>
          </a>
            <p class="post-summary">Responding to: <a href="{{ post.original_url }}">{{ post.original_title }}</a></p>
          </div>
		{% endif %}
    {% endfor %}
  </div>
  
</div>
