---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
		{% if post.postlet %}
		  {% comment %} do nothing {% endcomment %}
    {% else %}
      <div class="post">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <h3 class="h2 post-title">{{ post.title }}</h3>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
